<h2 class="mb-4">Editing Todo List</h2>

<%= render 'form', todo_list: @todo_list %>

<%= link_to icon('fas', 'arrow-left', 'Back'), todo_lists_path, class: 'btn btn-outline-secondary btn-lg' %>
<%= link_to icon('fas', 'eye', 'Show'), @todo_list, class: 'btn btn-outline-secondary btn-lg' %>
