<div class="row justify-content-md-center">
  <div class="col-md-12">
    <h2 class="mb-4">New Todo List</h2>

  <%= render 'form', todo_list: @todo_list %>

  <%= link_to icon('fas', 'arrow-left', 'Back'), todo_lists_path, class: 'btn btn-outline-secondary btn-lg' %>
  </div>
</div>
