<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow-sm">
      <%= link_to icon('fas', 'list-ul', 'TodoList'), root_path, class: 'navbar-brand' %>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <%= link_to icon('fas', 'home', 'Home'), todo_lists_path, class: 'nav-item nav-link' %>
          <%= link_to icon('fas', 'plus', 'Add List'), new_todo_list_path, class: 'nav-item nav-link mr-3' %>

          <%= link_to icon('fab', 'github', 'GitHub'), 'https://github.com/Leeroy6821/TodoList', target: "_blank", class: 'nav-item nav-link' %>
          <%= link_to icon('fab', 'gitlab', 'GitLab'), 'https://gitlab.com/Leeroy6821/todolist', target: "_blank", class: 'nav-item nav-link' %>
        </div>

        <% if user_signed_in? %>
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn btn-dark ml-md-4' %>
        <% else %>
          <%= link_to 'Log in', new_user_session_path, class: 'btn btn-dark ml-md-4' %>
          <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-dark ml-md-2' %>
        <% end %>
      </div>
    </nav>

    <header class="jumbotron text-center mb-5">
      <h1 class="text-dark">My Todo Lists</h1>
      <p class="lead">My example app ...</p>
    </header>

    <main class="container-fluid">
      <%= yield %>
    </main>

    <footer class="container-fluid mt-5 pt-4 pb-4 border-top">
      <p class="text-center text-muted"><%= icon('fas', 'list-ul', 'TodoList') %></p>
    </footer>
  </body>
</html>
